Combine Data into a single dataframe and pickle it

In [4]:
import numpy as np
import pandas as pd
import os
import pickle

In [3]:
os.getcwd()

'C:\\Users\\schro\\Miniconda3\\envs\\pymc-env\\monkey-psychophysics'

In [96]:
directory_path = 'Rough_Drafts\\Data\\Sirius_data'
drop_abort_trials = True
drop_freq_manip = True
drop_repeats = True
df = pd.DataFrame()

Combine excel files into one dataframe

In [97]:
for filename in os.listdir(directory_path):
    if filename.endswith('.xlsx'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Read the Excel file into a temporary DataFrame
        dftemp = pd.read_excel(file_path, engine='openpyxl')
        sess_date = filename[8:13]
        dftemp['sess_date'] = sess_date
        # Concatenate the temporary DataFrame with the main DataFrame
        df = pd.concat([df, dftemp], axis=0)

Drop Trials:

In [98]:
if drop_abort_trials == True:
    # drop aborted trials
    df = df[df['outcomeID'].isin([10, 31, 32, 33, 34])]

if drop_freq_manip == True:
    # drop trials with frequency manipulation
    df = df[df['tact2_Left_FR'].isin([0, 200])]
    df = df[df['tact2_Right_FR'].isin([0, 200])]
    
if drop_repeats == True:
    # drop repeated trials
    df = df[(df['repeatedTrial'] == False)]

In [99]:
df['side_idx'] = (df['tact1_Right_AMP']>0).astype(int)
df['side'] = np.where(df['tact1_Right_AMP'] > 0, 'right', 'left')

In [100]:
df['dist_idx'] = (df['tact2_Left_AMP']*df['tact2_Right_AMP']>0).astype(int)
df['dist_stat'] =  np.where(df['dist_idx'] > 0, 'bi', 'uni')

In [101]:
df['stim_amp'] = np.where(
    df['side'] == 'left', 
    df['tact2_Left_AMP'], 
    df['tact2_Right_AMP']
)

df['dist_amp'] = np.where(
    df['side'] == 'left', 
    df['tact2_Right_AMP'], 
    df['tact2_Left_AMP']
)

In [102]:
df['correct'] = (df['outcomeID']==10)

In [103]:
df['class'] = np.where(df['stim_amp'] > 28, True, False)

In [104]:
df['response'] = (~(df['correct']^df['class'])).astype(int)

In [105]:
df['group'] = df['side'] +'_'+ df['dist_stat']

In [106]:
df['group_idx'] = df['group'].map({'right_bi':3, 'right_uni':2, 'left_bi':1, 'left_uni':0})

In [107]:
group_list = ['left_uni','left_bi','right_uni','right_bi']

In [110]:
# get unique session dates in order of appearance
unique_dates = df['sess_date'].unique()
# make mapping dict
date_to_idx = {date: i for i, date in enumerate(unique_dates)}
# apply mapping
df['sess_idx'] = df['sess_date'].map(date_to_idx)
dates_list = unique_dates.astype(list)

In [114]:
sess_sum = df[['sess_date','sess_idx','dist_amp']].drop_duplicates()

In [115]:
sess_sum = sess_sum[ sess_sum['dist_amp']>0 ]

In [117]:
crosstab_counts = pd.crosstab(index=df['sess_date'], columns=df['group'])

In [121]:
sess_sum = sess_sum.set_index('sess_date')

KeyError: "None of ['sess_date'] are in the columns"

In [122]:
sess_sum = pd.concat([sess_sum, crosstab_counts], axis=1)

In [124]:
sess_sum = sess_sum.rename(columns={'left_uni':'left_uni_trial_counts','left_bi':'left_bi_trial_counts','right_uni':'right_uni_trial_counts','right_bi':'right_bi_trial_counts'})
sess_sum

           sess_idx  dist_amp  ...  right_bi_trial_counts  right_uni_trial_counts
sess_date                      ...
03-30             0         6  ...                     76                      80
03-31             1         6  ...                     79                      79
04-03             2         6  ...                     66                      65
04-04             3         6  ...                     80                      79
04-05             4         6  ...                     80                      78
04-06             5         6  ...                     80                      80
04-07             6         6  ...                     70                      69
04-10             7         6  ...                     44                      45
04-11             8        12  ...                     80                      80
04-12             9        12  ...                     78                      79
04-13            10        12  ...                     80                      79
04-14            11        12  ...                     82                      81
04-18            12        12  ...                     79                      80
04-19            13        12  ...                     78                      80
04-21            14        16  ...                     80                      79
04-24            15        16  ...                     79                      78
04-25            16        18  ...                     80                      80
04-26            17        20  ...                     80                      80
04-27            18        22  ...                     79                      78
05-01            19        24  ...                     80                      78
05-02            20        24  ...                     80                      80
05-03            21        24  ...                     79                      76
05-04            22        26  ...                     80                      80
05-09            23        28  ...                     80                      80
05-10            24        30  ...                     72                      76
05-12            25        32  ...                     75                      81
05-17            26        32  ...                     63                      62
05-18            27        32  ...                     79                      80
05-19            28        32  ...                     78                      79
05-25            29        32  ...                     80                      76
05-26            30        24  ...                     80                      80
05-30            31        32  ...                     80                      80
05-31            32        24  ...                     80                      80
06-07            33        32  ...                     79                      79
06-14            34        32  ...                     80                      80
06-20            35        32  ...                     80                      79
06-23            36        32  ...                     76                      77
07-11            37        24  ...                     79                      80
07-12            38        32  ...                     80                      80
07-19            39        32  ...                     80                      80
07-24            40        24  ...                     80                      80
07-31            41        32  ...                     64                      64

[42 rows x 6 columns]

In [125]:
sess_sum['trial_counts'] = sess_sum[['left_uni_trial_counts','left_bi_trial_counts','right_uni_trial_counts','right_bi_trial_counts']].sum(axis=1)

In [126]:
sess_sum['left_counts'] = sess_sum[['left_uni_trial_counts','left_bi_trial_counts']].sum(axis=1)
sess_sum['right_counts'] = sess_sum[['right_uni_trial_counts','right_bi_trial_counts']].sum(axis=1)

In [127]:
sess_sum

           sess_idx  dist_amp  ...  left_counts  right_counts
sess_date                      ...
03-30             0         6  ...          155           156
03-31             1         6  ...          156           158
04-03             2         6  ...          135           131
04-04             3         6  ...          160           159
04-05             4         6  ...          158           158
04-06             5         6  ...          160           160
04-07             6         6  ...          136           139
04-10             7         6  ...           88            89
04-11             8        12  ...          160           160
04-12             9        12  ...          160           157
04-13            10        12  ...          160           159
04-14            11        12  ...          162           163
04-18            12        12  ...          160           159
04-19            13        12  ...          160           158
04-21            14        16  ...          157           159
04-24            15        16  ...          155           157
04-25            16        18  ...          160           160
04-26            17        20  ...          158           160
04-27            18        22  ...          156           157
05-01            19        24  ...          159           158
05-02            20        24  ...          160           160
05-03            21        24  ...          157           155
05-04            22        26  ...          159           160
05-09            23        28  ...          158           160
05-10            24        30  ...          152           148
05-12            25        32  ...          153           156
05-17            26        32  ...          128           125
05-18            27        32  ...          160           159
05-19            28        32  ...          160           157
05-25            29        32  ...          153           156
05-26            30        24  ...          160           160
05-30            31        32  ...          160           160
05-31            32        24  ...          158           160
06-07            33        32  ...          159           158
06-14            34        32  ...          159           160
06-20            35        32  ...          160           159
06-23            36        32  ...          150           153
07-11            37        24  ...          160           159
07-12            38        32  ...          160           160
07-19            39        32  ...          160           160
07-24            40        24  ...          159           160
07-31            41        32  ...          127           128

[42 rows x 9 columns]

In [128]:
df.head()

    Unnamed: 0  start_time  stop_time  ...      group  group_idx  sess_idx
0            0       0.000     19.020  ...   right_bi          3         0
6            6      48.535     57.151  ...  right_uni          2         0
7            7      57.152     65.303  ...    left_bi          1         0
8            8      65.304     73.316  ...  right_uni          2         0
11          11      83.269     91.290  ...   left_uni          0         0

[5 rows x 78 columns]

In [130]:
DataDict = {'session_summary': sess_sum, 'data':  df}

In [131]:
with open("Sirius_Data.pkl","wb") as f:
    pickle.dump(DataDict, f)